body{
    color: black !important;
    height: 120%;
    width: 100%;

}

html{
    background-color: black;
}

.header{
    background-color: black !important;
    
}

.container-fluid{
    background-color: black !important;
}

.banner{
    background-color: black !important;
    width: 50%;
    justify-content: center !important;
    text-align: center !important;
    justify-self: center !important;
    margin: 0 auto;
}

.logo{   
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    
}

.construction{
    height: 300px;   
    background-color: black;


}

.construction-pix{

    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin-left: 400px;
} 

.text-construction{
    font-family: 'Arial';
    color: rgb(177, 172, 172);    
    font-size: 0px;
    font-size: 27px !important;
    transition: font-size 2s linear, color 5s linear !important;
    font-size: 0px;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    position: absolute;
    transition: font-size 2s linear;
    background-color: black;
    padding-bottom: 50px;
}


.text-vesoul{
    top: 150px;
    /* display: flex;     */
    color: white;
}

.text{
    height: 500px;
    background-color: black;
    margin-bottom: 300px;
}

.text-construction_big{
    font-size: 90px !important;
    transition: font-size 2s linear, color 5s linear !important;
    color: #45d1c8;
}

.text-info {
    top:120px;
    padding-top: 150px;
    /* padding-bottom: 25px; */
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    position: absolute;
    color: white !important;
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */

}

.container{

    background-color: black;
    width: 1920px;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    position: absolute;
    max-width: 1430px;

}

.img2{
    /* margin-top: 200px;     */
    margin-right: 0;
}

.footer{
    background-color: black;
    height: 180px;    
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    
}



