body{
    color: black !important;
    height: 100vh;
    width: 100%;
}

.header{
    background-color: black !important;
    
}

.container-fluid{
    background-color: black !important;
}

.banner{
    background-color: black !important;
    width: 50%;
    justify-content: center !important;
    text-align: center !important;
    justify-self: center !important;
    margin: 0 auto;
}

.logo{   
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    
}

.construction{
    height: 300px;   
    background-color: black;


}

.construction-pix{

    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin-left: 400px;
} 

.text-construction{
    font-family: 'Arial';
    color: rgb(177, 172, 172);    
    font-size: 0px;
    font-size: 27px !important;
    transition: font-size 2s linear, color 5s linear !important;
    font-size: 0px;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    position: absolute;
    transition: font-size 2s linear;
}

.text-construction_big{
    font-size: 90px !important;
    transition: font-size 2s linear, color 5s linear !important;
    color: #45d1c8;
}

.container{

    background-color: black;
    width: 1920px;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    position: absolute;

}

.img2{
    top: 50px;
    /* position: absolute; */
    margin-right: 0;
}

.footer{
    height: 80px;    
    align-self: center;
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
}



